// Файл обнуляющих стилей
@import "nullstyle.scss";

/*Шрифты*/
@font-face {
	font-family: "text-black";
	src: url("../fonts/text-black.woff") format("woff");
}

@font-face {
	font-family: "text-medium";
	src: url("../fonts/text-medium.woff") format("woff");
}

@font-face {
	font-family: "text-regular";
	src: url("../fonts/text-regular.woff") format("woff");
}

/*-----------------------------*/


/*Переменные*/
:root {
	--font-title: text-black;
	--font-text: text-medium;
	--font-regular: text-regular;
}

/*-----------------------------*/


/*Шрифты по умолчанию*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title);
	color: #21201F;
	font-size: 48px;
	letter-spacing: -0.96px;
}


body {
	font-family: var(--font-text);
	color: #21201F;
	font-size: 24px;
}

@media (max-width: 425px) {
	body {
		font-size: 16px;
	}
}

p {
	line-height: 120%;
}

/*-----------------------------*/


/*header*/
@import "_header";

/*----------------------------*/
.container {
	margin: 0 auto;
	max-width: 970px;
	padding: 0 30px;
	width: 100%;
}

@media (max-width: 1023px) {
	.container {
		max-width: 100%;
	}
}



@media (max-width: 767px) {
	.container {
		padding: 0 16px;
	}
}

@media (max-width: 425px) {
	.container {
		padding: 0 32px;
	}
}


.content {
	display: flex;
	padding: 125px 0 100px 0;
}

@media (max-width: 1024px) {
	.content {
		padding: 65px 0 60px 0;
	}
}

@media (max-width: 768px) {
	.content {
		padding: 45px 0 40px 0;
		flex-direction: column;
	}
}


.hero {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);

	&__decoration {
		background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff)), var(--Linear, linear-gradient(0deg, rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .2) 100%), linear-gradient(90deg, rgba(255, 92, 77, .2) 0, rgba(235, 70, 159, .2) 25%, rgba(131, 65, 239, .2) 72%, rgba(63, 104, 249, .2) 100%));
		background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0, #fff 100%), var(--Linear, linear-gradient(0deg, rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .2) 100%), linear-gradient(90deg, rgba(255, 92, 77, .2) 0, rgba(235, 70, 159, .2) 25%, rgba(131, 65, 239, .2) 72%, rgba(63, 104, 249, .2) 100%));

	}

	&__text {
		display: flex;
		flex-direction: column;
		z-index: 1;

		h1 {
			margin-bottom: 48px;
			letter-spacing: -1.44px;
			font-size: 72px;
		}

		@media (max-width: 425px) {
			h1 {
				font-size: 36px;
				margin-bottom: 38px;
			}
		}

		p {
			margin-bottom: 44px;
			line-height: 130%;

			span {
				position: relative;
				padding: 11px 12px 11px 0;
				white-space: nowrap;
				font-size: 16px;
				color: grey;
				border-radius: 500px;
				background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .63)), to(rgba(255, 255, 255, .63))), radial-gradient(141.42% 141.42% at 100% 0, #e0b8ff 0, #b6b9ff 100%);
				background: linear-gradient(0deg, rgba(255, 255, 255, .63) 0, rgba(255, 255, 255, .63) 100%), radial-gradient(141.42% 141.42% at 100% 0, #e0b8ff 0, #b6b9ff 100%);
				overflow: hidden
			}

			>span::before {
				content: "";
				position: absolute;
				width: 46px;
				height: 1px;
				background-color: grey;
				right: 12px;
				bottom: 50%
			}

			>span>span {
				vertical-align: bottom;
				padding: 6.3px 12px;
				color: #2e2c21;
				font-size: 24px;
				border-radius: 500px;
				margin-right: 12px;
				background: radial-gradient(141.42% 141.42% at 100% 0, #e0b8ff 0, #b6b9ff 100%);
			}
		}

		@media (max-width: 425px) {
			p {
				font-size: 18px;

				span {
					font-size: 13px;
					padding: 5px 5px 5px 0px;
				}

				>span::before {
					right: 7px;
					width: 37px;
				}

				>span>span {
					padding: 2px 5px 2px 5px;
					font-size: 18px;
				}
			}
		}
	}

	&__link {
		margin-bottom: 72px;

	}

	@media (max-width: 768px) {
		&__link {
			margin-bottom: 52px;
		}
	}

	@media (max-width: 425px) {
		&__link {
			margin-bottom: 32px;
		}
	}

	&__img {
		position: relative;
		z-index: 0;
		transform: translate(-137px, -34px);
		width: 744px;
		height: 618px;


		&-mobile {
			display: none;
		}

		&-main {
			width: 100%;
		}

		@media (max-width: 1024px) {
			&-main {
				width: 644px;
				height: 518px;
			}
		}

		@media (max-width: 425px) {
			&-main {
				display: none;

				img {
					width: 100%;
				}
			}
		}


		@media (max-width: 425px) {
			&-mobile {
				display: block;
				transform: rotate(-8.008deg);
				width: 320px;
				height: 265px;

				img {
					width: 100%;
				}
			}
		}

		@media (max-width: 320px) {
			&-mobile {
				width: 280px;
				height: 225px;
				position: relative;
				left: -30px;
			}
		}
	}



	@media (max-width: 1024px) {
		&__img {
			width: 644px;
			height: 518px;
			transform: translate(-100px, 50px);

			img {
				width: 100%;
			}
		}
	}

	@media (max-width: 768px) {
		&__img {
			transform: none;
		}
	}

	@media (max-width: 425px) {
		&__img {
			width: 320px;
			height: 265px;
		}
	}

}

.hero__circle {
	position: absolute;
	left: 235px;
	bottom: 70px;
	animation: rotate 10s linear 0s infinite;



	img {
		width: 195px;
		height: 195px;
	}
}

@keyframes rotate {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(-360deg);
	}
}

@media (max-width: 1024px) {
	.hero__circle {
		left: 165px;
	}
}



.hero__ellipse {
	position: absolute;
	right: 225px;
	top: 25px;
	z-index: -1;
	width: 657.8px;
	height: 401.903px;
	transform: rotate(-140.03deg);
	flex-shrink: 0;
	border-radius: 657.8px;
	opacity: 0.5;
	background: #8241EF;
	filter: blur(100px);
}

@media (max-width: 997px) {
	.hero__ellipse {
		display: none;
	}
}

.btn {
	line-height: 22px;
	font-size: 24px;
	display: flex;
	padding: 24px 48px;
	justify-content: center;
	border-radius: 36px;
	background: #FFDE40;
	box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
	cursor: pointer;
}

@media (max-width: 425px) {
	.hero__btn {
		position: fixed;
		bottom: 15px;
		left: 32px;
		right: 32px;
		font-size: 18px;
		padding: 16px 48px;
	}
}



/*----------------------------*/

.club {
	padding-top: 25px;
	margin-bottom: 64px;


	&__title {
		font-size: 56px;
		margin-bottom: 48px;
		width: 827px;
		letter-spacing: -1.12px;
		font-weight: 900;
	}

	@media (max-width: 425px) {
		&__title {
			font-size: 32px;
			width: 100%;
			margin-bottom: 32px;
		}
	}


	&__grid {
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 60px 112px;
	}


	@media (max-width: 997px) {
		&__grid {
			gap: 40px 82px;
		}
	}

	@media (max-width: 425px) {
		&__grid {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(1, 1fr);
			gap: 24px 0;
		}
	}

	@media (max-width: 425px) {
		&__item {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 16px;

		}
	}

	&__icon {
		width: 83px;
		height: 83px;
		margin-bottom: 16px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	@media (max-width: 425px) {
		&__icon {
			flex: 1 0 83px;
			margin-bottom: 0;
		}
	}

	@media (max-width: 425px) {
		&__text {
			flex: 0 1 311px;
		}
	}

}

@media (max-width: 425px) {
	.club {
		margin-bottom: 36px;
	}
}

/*----------------------------*/

.gallery {
	overflow: hidden;
	position: relative;
	padding-top: 64px;
	margin-bottom: 50px;

	&__title {
		margin-bottom: 48px;
		width: 827px;
	}

	@media (max-width: 425px) {
		&__title {
			font-size: 32px;
		}
	}

	&__text {
		display: inline-block;
		margin-bottom: 69px;
		width: 422px;

	}

	&__content {
		display: flex;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		flex-direction: column;
		margin-right: 7px;
		position: relative;
	}

	&__item {
		border-radius: 64px;
		background: #DEDEDE;
		overflow: hidden;
		transform: rotate(2deg);
		width: 456px;
		height: 456px;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__left:before {
		content: '';
		position: absolute;
		z-index: 1;
		left: -260px;
		top: -130px;
		background-image: url(../src/img/gallery/decor/L.png);
		width: 520px;
		height: 520px;
	}

	@media (max-width: 1023px) {
		.gallery__content {
			display: none;
		}

		.gallery__title {
			width: 100%;
		}

		.gallery__text {
			width: 100%;
		}
	}

	&__right {
		margin-left: 7px;
		transform: translate(0, -205px);

	}

	&__right:before {
		content: '';
		position: absolute;
		z-index: 1;
		left: 250px;
		top: -155px;
		background-image: url(../src/img/gallery/decor/R1.png);
		background-repeat: no-repeat;
		width: 520px;
		height: 520px;
	}

	&__right::after {
		content: '';
		position: absolute;
		z-index: 1;
		left: 110px;
		bottom: -200px;
		background-image: url(../src/img/gallery/decor/R2.png);
		width: 520px;
		height: 520px;
	}
}



@media (max-width: 425px) {
	.gallery {
		padding-top: 36px;
	}
}

.gallery__left> :first-child,
.gallery__right> :first-child {
	margin-bottom: 16px;
}

.gallery__slider {
	margin-bottom: 80px;
	display: none;
}

@media (max-width: 1023px) {
	.gallery__slider {
		display: block;
	}
}

@media (max-width: 768px) {
	.gallery__slider {
		margin-bottom: 0;
	}
}


.slider__wrapper {
	margin-bottom: 24px;
}

.gallery__slider-img {
	display: none;
	width: 100%;
	height: 100%;
}

.gallery__keyboard {
	display: flex;
	justify-content: center;
	align-items: center;

}

.gallery__button {
	display: block;
	width: 48px;
	height: 48px;
	background-color: #fff;
}

.prev {
	background-image: url(../src/img/gallery/icons/arrow.svg);
	transform: rotate(180deg);
	margin-right: 12px;
}

.next {
	background-image: url(../src/img/gallery/icons/arrow.svg);
}

.opacity {
	opacity: 0.5;
}

.active {
	display: block;
}

/*----------------------------*/

.subscription {
	padding-top: 50px;
	margin-bottom: 50px;

	&__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__item {
		display: flex;
		height: 436px;
		gap: 50px;
		margin-bottom: 90px;
		width: 100%;
		align-items: center;
	}

	@media (max-width: 768px) {
		&__item {
			flex-direction: column;
			gap: 0;
			height: auto;
			margin-bottom: 0;
		}
	}

	&__info {
		flex: 1 0 419px;
		height: 100%;
	}

	@media (max-width: 768px) {
		&__info {
			flex: none;
		}
	}

	&__title {
		margin-bottom: 48px;
	}

	@media (max-width: 425px) {
		&__title {
			font-size: 32px;
		}
	}

	&__text {}

	&__img {
		position: relative;
	}

	&__img:nth-child(1) {
		transform: translate(-70px, 0);
	}

	@media (max-width: 768px) {
		&__img:nth-child(1) {
			transform: none;
			margin-bottom: 26px;
		}
	}

	&__img:nth-child(2) {
		transform: translate(-110px, -20px);
	}

	@media (max-width: 768px) {
		&__img:nth-child(2) {
			display: none;
		}
	}

	&__ellipse1 {

		position: absolute;
		right: 130px;
		top: 150px;
		z-index: -1;
		width: 412.783px;
		height: 369.042px;
		transform: rotate(-140.03deg);
		flex-shrink: 0;
		border-radius: 412.783px;
		opacity: 0.29;
		background: #8241EF;
		filter: blur(100px);

	}

	&__ellipse2 {

		position: absolute;
		left: 0;
		top: 80px;
		z-index: -1;
		width: 312.783px;
		height: 369.042px;
		transform: rotate(-140.03deg);
		flex-shrink: 0;
		border-radius: 412.783px;
		opacity: 0.29;
		background: #8241EF;
		filter: blur(100px);

	}

	@media (max-width: 768px) {
		&__ellipse2 {
			width: 282.783px;
			height: 349.042px;
		}
	}

	&__btn {
		margin-top: 48px;

		a {
			color: #21201F;
		}
	}

	@media (max-width: 768px) {
		&__btn {
			width: 100%;
		}
	}

	@media (max-width: 320px) {
		&__btn {
			font-size: 18px;
		}
	}
}




.cloud {
	width: 742px;
	height: 742px;
}

.plus {
	position: absolute;
	left: 130px;
	top: 240px;
	width: 268px;
	height: 268px
}

.circle {
	width: 423px;
	height: 423px;
}

@media (max-width: 768px) {
	.circle {
		width: 365px;
		height: 365px;
	}
}

@media (max-width: 320px) {
	.circle {
		width: 310px;
		height: 310px;
	}
}



/*----------------------------*/
.footer {
	padding-top: 50px;
	padding-bottom: 128px;
}

@media (max-width: 375px) {
	.footer {
		padding-bottom: 68px;
	}
}

.footer__info {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #C5C5C5;
	font-size: 13px;
	font-weight: 400;
	font-family: var(--font-regular);

	a {
		color: #C5C5C5;
		text-decoration: underline;
	}

}





/*footer*/
@import "_footer";
/*----------------------------*/